.link {
  color: white;
  background-color: $grey;
  text-decoration: none;
  padding: 10px;
}

.nav {
    background-color: $grey;
    padding: 10px 10px 10px 0;
}

.is-active {
  background-color: $dark-grey;
}
